@font-face {font-family: Silent-Reaction; src: url(fonts/Silent-Reaction.ttf);}
@font-face {font-family: Homestead-Regular; src: url(fonts/Homestead-Regular.ttf);}

body {
    background: url(img/1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: -1px;
    border: -1px;
    padding: -1px;
    overflow-x: hidden;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#clock {
    /* The Clock */
    display: inline-block;
    /* Rest of the browsers */
    display: table;
    /* Mozilla */
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 50px;
    width: 180px;
    font-family: Homestead-Regular;
    opacity: 0.7;
}

#quote {
    /* The quote */
    width: 100%;
    text-align: center;
    top: 40%;
    position: fixed;
    display: block;
    margin: auto;
    font-size: 50px;
    font-family: Silent-Reaction;
    opacity: 0.5;
}

#comfy {
    display: inline-block;
    position: fixed;
    bottom: -5%;
    opacity: 0.5;
}
